h1{
    font-size: 35px;
    font-family: sans-serif;
    font-weight: 300;
}

.sp1{
    font-weight: 600;
    margin-right: 10px;
}

.h21{
    color: rgb(19,15,97);
    font-size: 30px;
    text-align: center;
    font-style: italic;
    text-decoration: underline;
}

.p1{
    font-size: 33px;
    color:black;
    text-align: center;
}
.sp2{
    color: red;
    margin-right: 10px;
}
.sp3{
    text-decoration: underline;
}
.sp4{
    text-decoration: line-through ;
    text-decoration-style: double ;
}
.sp5{
    text-decoration: underline;
    text-decoration-style: wavy;
}